.mat-form-field {
    display: block;
}

.team-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 120px;
}

.item-card {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    margin-bottom: 10px;
    height: 42px;
}

.item-card .pax {
    color: rgba(0,0,0,.54);
    margin-right: 20px;
}