<h1 mat-dialog-title>Create a new page</h1>

<form [formGroup]="form" (ngSubmit)="submitForm()" #myForm="ngForm">

    <mat-dialog-content>
            
        <!-- Text Input - Page Name -->
        <mat-form-field appearance="outline" [hintLabel]="form.controls.name.value === '' ? 'This will identify your URL' : url + form.controls.name.value">
            <mat-label>Page Name</mat-label>
            <input matInput type="text" formControlName="name" autocomplete="off" cdkFocusInitial>
            <button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="form.controls.name.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.controls.name.errors?.required">
                Name is <strong>required</strong>.
            </mat-error>
            <mat-error *ngIf="form.controls.name.errors?.minlength || form.controls.name.errors?.maxlength">
                Name must between <strong>4</strong> and <strong>32</strong> characters.
            </mat-error>
            <mat-error *ngIf="form.controls.name.errors?.pattern">
                Name must not contain any space.
            </mat-error>
        </mat-form-field>

        <mat-error class="custom-error" *ngIf="myForm.submitted && errorMessage">
            {{ errorMessage }}
        </mat-error>

        <!-- Radio Button - Private -->
        <div class="radio-group">
            <mat-radio-group formControlName="private" color="primary">
                <mat-radio-button [value]="false">Anyone can edit</mat-radio-button>
                <mat-radio-button [value]="true">Only me</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- Text Input - Password -->
        <mat-form-field appearance="outline" hintLabel="Password to access editing rights. You can set this at a later time.">
            <mat-label>Page Password</mat-label>
            <input matInput type="password" formControlName="password" autocomplete="on">
            <mat-error *ngIf="form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength">
                Password must between <strong>6</strong> and <strong>32</strong> characters.
            </mat-error>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="submitting">
            {{ submitting ? 'Creating..' : 'Create' }}
        </button>
    </mat-dialog-actions>

</form>