<div class="container">

    <div class="logo">
        <div>
            <img src="./assets/logo.png">
        </div>
        <div class="name">MesoLoots</div>
        <div class="slogan">A Free MapleStory Loot Tracker</div>
    </div>

    <div style="margin-bottom: 30px; text-align: center;">
        <button mat-flat-button color="primary" (click)="openDialog()">Create a Page</button>
    </div>

    <div class="preview-container">
        <img src="./assets/preview.png">
    </div>

    <div class="footer">
        Created by <a href="https://github.com/jeremylimjw" target="_blank">https://github.com/jeremylimjw</a>. Powered by Heroku.
    </div>

</div>