.container {
    height: 100%;
    background-color: #fdfdfd;
    overflow: auto;
}

.logo {
    margin-top: 50px;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.name {
    font-size: 50px;
    line-height: 50px;
    color: #2c3e51;
    margin-bottom: 10px;
}

.slogan {
    font-size: 26px;
    line-height: 26px;
    color: #4078bc;
}

.button-group {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 30px; 
}

.preview-container {
    margin-bottom: 50px;
    text-align: center;
}

.preview-container img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
    width: 100%;
    text-align: center;
    height: 50px;
}

.footer a {
    color: blue;
}

:host ::ng-deep .mat-form-field-wrapper {
    margin-top: 1em;
}