<div class="container">

    <ng-container *ngFor="let member of team">

        <mat-card class="card" [ngClass]="{ 'deleting' : member._id === deletingId }" *ngIf="!member.isDeleted">

                <img [src]="getJob(member).imageUrl" width="250" height="250">

                <div class="name">
                    <div>{{ member.name }}</div>
                </div>
        
                <div class="delete">
                    <button mat-raised-button color="warn" (click)="deleteMember(member)" [disabled]="member._id === deletingId">
                        Remove
                    </button>
                </div>

        </mat-card>

    </ng-container>

    <div class="card add" (click)="openAddDialog()">
        <span style="user-select: none;">+</span>
    </div>
    
</div>

