<div class="container">

    <mat-card class="card" *ngFor="let member of team" [ngClass]="{ 'deleting' : member._id === deletingId }">

        <img [src]="getJob(member).imageUrl" width="250" height="250">

        <div class="name">
            <div>{{ member.name }}</div>
        </div>

        <div class="delete">
            <button mat-raised-button color="warn" (click)="deleteMember(member)" [disabled]="member._id === deletingId">
                Remove
            </button>
        </div>

    </mat-card>

    <div class="card add" (click)="openAddDialog()">
        <span style="user-select: none;">+</span>
    </div>
    
</div>

