<div class="container">

    <div class="title">
        <mat-icon class="lock-icon" matTooltip="Private access rights" *ngIf="page?.private">lock</mat-icon>
        <span>MesoLoots</span>
    </div>

    <mat-form-field appearance="outline" class="input-field">

        <mat-label>Share link with others</mat-label>
        <input matInput type="text" [value]="url" readonly>

        <button matSuffix mat-icon-button [cdkCopyToClipboard]="url" class="tooltip no-padding top">
            <mat-icon>content_copy</mat-icon>
        </button>

    </mat-form-field>

    <div class="tab-group">

        <nav mat-tab-nav-bar [disablePagination]="true">
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" [active]="isActive(link.link)"> {{link.label}} </a>
        </nav>
    
        <!-- <nav mat-tab-nav-bar style="margin-left:auto;" [disablePagination]="true">
            <a mat-tab-link routerLink="./settings" [active]="isActive('./settings')"> Page Settings </a>
        </nav> -->

    </div>
    
</div>