/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.gray { color: #525252 }

.img-with-text-container {
    position: relative;
    display: flex; 
    align-items: center; 
}

.img-with-text-container img {
    margin-right: 5px;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-error {
    font-size: 75%;
    margin: -10px 0 10px 10px;
}
