.container {
    padding: 25px 50px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 0 20px;
    padding: 0;
}

.header .add-button {
    margin-left: 20px;
}

.filter-form {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-form .reset-button {
    margin-right: 20px;
    margin-bottom: 15px;
}

.filter-form mat-form-field {
    margin-right: 20px;
}

table {
    width: 100%;
}

.mat-row:hover {
    background-color: rgb(0, 255, 255, 0.5);
}

.showImageOnHover-container {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50px;
}

.showImageOnHover-container img {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
